html,
body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  font-size: 12px;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
::-webkit-scrollbar {
  width: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 0 1rem;
}
.main-container {
  margin: auto;
  width: 100%;
}
.layout {
  padding: 1rem;
}

.navbar-container {
  display: flex;
  align-items: center;
  margin: 1rem 1.5rem;
}

.marquee {
  position: relative;
  height: 30rem;
  width: 100%;
  overflow-x: hidden;
}

.track {
  position: absolute;
  white-space: nowrap;
  will-change: transform;
  animation: marquee 15s linear infinite;
  width: 180%;
}
.track:hover {
  animation-play-state: paused;
}
@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

.logo {
  color: pink;
  font-size: 1.8rem;
  margin-right: auto;
}
.cart-icon {
  font-size: 2.5rem;
  color: pink;
  cursor: pointer;
  transition: transform 0.4s ease;
  border: none;
  background-color: transparent;
  margin-right: 1rem;
  position: relative;
}
.cart-icon:hover {
  transform: scale(1.1, 1.1);
}
.cart-item-qty {
  font-size: 1.2rem;
  color: #eee;
  background-color: #f02d34;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  text-align: center;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 3;
  top: 0px;
  left: 20px;
}
.products-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem;
  margin-top: 2rem;
  width: 100%;
}
.product-card {
  cursor: pointer;
  transform: scale(1, 1);
  transition: transform 0.5s ease;
  color: #324d67;
}
.product-card:hover {
  transform: scale(1.1, 1.1);
}
.product-image {
  border-radius: 1.5rem;
  background-color: #ebebeb;
  transform: scale(1, 1);
  transition: transform 0.5s ease;
  width: 15rem;
  height: auto;
  max-height: 15rem;
  margin-right: 2rem;
}

.product-name {
  font-weight: 500;
}
.product-price {
  font-weight: 600;
  margin-top: 0.6rem;
  color: black;
}

.hero-banner-container {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  background-color: rgba(216, 112, 147, 0.599);
  border-radius: 1.5rem;
  position: relative;
  line-height: 0.9;
}
.hero-banner-container .beats-solo {
  font-size: 2rem;
}

.hero-banner-container h3 {
  font-size: 3.5rem;
  margin-top: 0.4rem;
  color: pink;
}
.hero-banner-container h1 {
  color: white;
  font-size: 10em;
  text-transform: uppercase;
}
.hero-banner-container h1 > span {
  filter: drop-shadow(0 0.4rem palevioletred);
}

.desc {
  line-height: 1.3;
  display: flex;
  flex-direction: column;
  color: #324d67;
}

.desc p {
  color: #5f5f5f;
  font-weight: 100;
  text-align: end;
}
.desc h5 {
  margin-bottom: 1.2rem;
  font-weight: 700;
  font-size: 1.6rem;
  color: black;
  align-self: flex-end;
}
.products-heading {
  text-align: center;
  color: #324d67;
}
.products-heading h2 {
  font-size: 4rem;
  font-weight: 800;
}
.products-heading p {
  font-size: 1.6rem;
  font-weight: 200;
}

.banner-desc {
  display: flex;
  justify-content: space-between;
}

.banner-desc .left h3 {
  font-weight: 900;
  font-size: 8rem;
  margin-left: 2.5rem;
}
.banner-desc .left p {
  margin: 1.8rem;
}

.banner-desc .right {
  line-height: 1.4;
}
.banner-desc .right h3 {
  font-weight: 800;
  font-size: 6rem;
}
.banner-desc .right p {
  font-size: 1.8rem;
}
.banner-desc .right .company-desc {
  font-size: 1.4rem;
  font-weight: 300;
}
.cart-outercontainer {
  width: 100vw;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  right: 0;
  top: 0;
  z-index: 100;
  /* will-change: transform; */
  transition: all 1s ease-in-out;
}
.cart-container {
  height: 100vh;
  width: 60rem;
  background-color: white;
  float: right;
  padding: 4rem 1rem;
  position: relative;
}

.cart-heading {
  display: flex;
  align-items: center;
  font-size: 1.4rem;
  font-weight: 500;
  cursor: pointer;
  gap: 0.2rem;
  margin: 1rem;
  border: none;
  background-color: transparent;
  color: grey;
}

.cart-heading .heading {
  margin-left: 1rem;
}
.cart-num-items {
  margin-left: 1rem;
  color: #f02d34;
}
.empty-cart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 4rem;
  text-align: center;
}
.empty-cart-inner {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
.empty-cart h3 {
  font-weight: 600;
  font-size: 2rem;
}
.cancel {
  cursor: pointer;
}
.product-container {
  margin-top: 1.5rem;
  overflow: auto;
  max-height: 70vh;
  padding: 2rem 1rem;
}
.product {
  display: flex;
  gap: 3rem;
  padding: 2rem;
}
.product .cart-product-image {
  width: 18rem;
  height: 15rem;
  border-radius: 1.5rem;
  background-color: #ebebeb;
}
.item-desc .flex {
  display: flex;
  justify-content: space-between;
  width: 35rem;
  color: #324d67;
}
.item-desc .bottom {
  margin-top: 6rem;
  flex-direction: row;
}
.flex h5 {
  display: flex;
  color: palevioletred;
  font-size: 2rem;
  margin: 0;
}
.flex h4 {
  display: flex;
  color: palevioletred;
  font-size: 1.8rem;
  margin: 0;
}
.total {
  display: flex;
  justify-content: space-between;
}
.total h3 {
  font-size: 1.8rem;
}
.remove-item {
  font-size: 2rem;
  color: #f02d34;
  cursor: pointer;
  background: transparent;
  border: none;
}
.cart-bottom {
  position: absolute;
  bottom: 1.2rem;
  right: 0.5rem;
  width: 100%;
  padding: 3rem 6.5rem;
}

.btn-container {
  width: 100rem;
  margin: auto;
}
.btn {
  padding: 1rem 1.2rem;
  border-radius: 0.3rem;
  border: none;
  font-size: 1.6rem;
  margin: 1.5rem;
  text-transform: uppercase;
  background-color: palevioletred;
  color: #fff;
  cursor: pointer;
  transform: scale(1, 1);
  transition: transform 0.5s ease;
}
.btn:hover {
  transform: scale(1.1, 1.1);
}

.product-detail-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  padding: 1rem;
  color: #8aadcf;
}

.product-detail-image {
  border-radius: 1.5rem;
  margin-right: 2rem;
  background-color: #ebebeb;
  cursor: pointer;
  max-width: 23rem;
  transition: 0.3s ease-in-out;
}
.product-detail-image:hover {
  background-color: #f3a8398f;
}
.small-image-container {
  display: flex;
  justify-content: left;
  padding: 1.5rem;
}
.small-image {
  border-radius: 0.8rem;
  background-color: #ebebeb;
  width: 4rem;
  height: 4rem;
  cursor: pointer;
}

.product-detail-desc h3 {
  margin-top: 1rem;
}
.product-detail-desc h1 {
  color: palevioletred;
}
.product-detail-desc p {
  margin-top: 1rem;
}
.reviews p {
  color: #324d67;
  margin-top: 0;
}
.product-detail-desc .price {
  font-weight: 700;
  font-size: 2.6rem;
  margin-top: 3rem;
}
/* .price .old-price,
.product-price .old-price,
.price .old-price {
  color: gray;
  text-decoration: line-through;
} */
.product-detail-desc .quantity {
  display: flex;
  gap: 2rem;
  margin-top: 1rem;
  align-items: center;
}
.product-detail-desc .buttons {
  display: flex;
  gap: 3rem;
}
.buttons .add-to-cart {
  padding: 1rem;
  border: 1px solid palevioletred;
  margin-top: 1rem;
  font-size: 1.8rem;
  font-weight: 500;
  background-color: white;
  color: palevioletred;
  cursor: pointer;
  width: 20rem;
  transform: scale(1, 1);
  transition: transform 0.5s ease;
}
.buttons .add-to-cart:hover {
  transform: scale(1.1, 1.1);
}
.buttons .buy-now {
  width: 20rem;

  padding: 1rem 2rem;
  background-color: palevioletred;
  color: white;
  border: none;
  margin-top: 1rem;
  font-size: 1.8rem;
  font-weight: 500;
  cursor: pointer;
  transform: scale(1, 1);
  transition: transform 0.5s ease;
}
.buttons .buy-now:hover {
  transform: scale(1.1, 1.1);
}
.quantity-desc {
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: center;
  max-width: 25%;
  margin: 0 0 0 auto;
  border: 0.1rem solid gray;
}
.quantity-desc span {
  cursor: pointer;
}
.quantity-desc .minus {
  color: #f02d34;
  padding: 0.6rem 0.8rem;
}
.quantity-desc .num {
  color: gray;
  font-size: 1.6rem;
  padding: 0.6rem 1.6rem;
  border-left: 0.1rem solid gray;
  border-right: 0.1rem solid gray;
}
.quantity-desc .plus {
  color: rgb(49, 168, 49);
  padding: 0.6rem 0.8rem;
}

.maylike-products-outercontainer {
  margin-top: 5rem;
}
.maylike-products-outercontainer h2 {
  text-align: center;
  margin: 2rem;
  color: #324d67;
  font-size: 5rem;
}
.maylike-products-container {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  margin-top: 2rem;
}
/* .max-qty {
  font-weight: 500;
  color: #f02d34;
} */
.success-container,
.cancel-container {
  background-color: white;
  min-height: 60%;
}
.success,
.cancel {
  width: 100rem;
  margin: auto;
  margin-top: 3rem;
  background-color: #dcdcdc;
  padding: 5rem;
  border-radius: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.success .icon {
  color: green;
  font-size: 4rem;
}
.success h2 {
  text-transform: capitalize;
  margin-top: 1.5rem 0;
  font-weight: 900;
  font-size: 4rem;
  color: #324d67;
}
.success .email-msg {
  font-size: 1.6rem;
  font-weight: 600;
  text-align: center;
}
.cancel p {
  font-size: 2rem;
  font-weight: 600;
}
/* .success .description {
  font-size: 1.6rem;
  font-weight: 600;
  text-align: center;
  margin: 1rem;
  margin-top: 3rem;
} */
/* .success .description .email {
  margin-left: 0.5rem;
  color: #f02d34;
} */
.product-max-qty {
  margin-top: 1rem;
}
/* =================================================MOBILE */
@media screen and (max-width: 800px) {
  .hero-banner-container {
    line-height: 1.3;
    color: #5f5f5f;
  }
  .hero-banner-container h1 {
    font-size: 5rem;
    color: rgb(221, 138, 14);
  }
  .hero-banner-container h3 {
    font-size: 4rem;
    color: #5f5f5f;
  }
  .hero-banner-container button {
    margin-top: 5rem;
    z-index: 100;
  }
  .hero-banner-container h1 > span {
    filter: drop-shadow(0 0.1rem palevioletred);
  }

  .banner-desc .left h3 {
    font-weight: 900;
    font-size: 5rem;
    margin-left: 0.5rem;
  }
  .banner-desc .left p {
    margin: 1.8rem;
  }
  .banner-desc .right h3 {
    font-size: 4.5rem;
  }
  .banner-desc .right p {
    font-size: 1.8rem;
  }
  .banner-desc .right .company-desc {
    font-size: 1.4rem;
  }
  .banner-desc {
    flex-wrap: wrap;
    gap: 1rem;
  }
  .hero-banner-container {
    line-height: 1.3rem;
  }
  .hero-banner-container h1 {
    font-size: 1.5rem;
  }
  .hero-banner-container h3 {
    font-size: 1.5rem;
  }
  .hero-banner-container button {
    margin-top: 1rem;
    z-index: 100;
  }
  .desc {
    bottom: 6rem;
  }
  .product-detail-container {
    flex-direction: column;
    flex-wrap: wrap;
    box-shadow: 0 1px #dcdcdc;
  }
  .product-detail-container .product-detail-image {
    width: 15rem;
    max-height: 15rem;
  }
  .product-detail-container .price {
    font-size: 1.5rem;
    margin-top: 0.5rem;
  }
  .product-image {
    margin: 0;
  }
  .cart-container {
    max-width: 35rem;
    padding: 0.4rem;
  }
  .cart-heading {
    margin-top: 3.5rem;
  }
  .product-container {
    margin-top: 1rem;
  }
  .product {
    padding: 2rem 0.5rem;
  }
  .product .cart-product-image {
    width: 25%;
    height: 25%;
  }
  .product-detail-desc .buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0;
  }
  .buttons .add-to-cart {
    width: 15rem;
  }
  .buttons .buy-now {
    width: 15rem;
  }

  .item-desc .flex {
    width: 20rem;
  }
  .top {
    flex-wrap: wrap;
    gap: 1rem;
  }
  .item-desc .bottom {
    margin-top: 3rem;
  }
  .flex h5 {
    font-size: 1.6rem;
    color: #324d67;
  }
  .flex h4 {
    font-size: 1.6rem;
    color: black;
  }
  .cart-bottom {
    padding: 3rem;
  }

  .total h3 {
    font-size: 2rem;
  }
  .track {
    animation: marquee 10s linear infinite;
    width: 550%;
  }
  .success-wrapper,
  .cancel-wrapper {
    min-height: 69vh;
  }
  .success,
  .cancel {
    width: 37rem;
    margin-top: 10rem;
    padding: 2rem;
  }
  .success {
    height: 35rem;
  }
  .success h2 {
    font-size: 1.5rem;
  }
  .btn-container {
    width: 30rem;
    margin: auto;
  }
}
